html, body {
  height: 100%; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  overflow-x: hidden;
  color: #444; }

h1, h2, h3, h4, h5, h6 {
  font-family: "OpenSansLight", sans-serif;
  font-weight: normal; }

h1 {
  font-size: 2.563em;
  line-height: 1.2; }

h2 {
  font-size: 2em; }

h3, h4 {
  font-family: "OpenSansSemiBold", sans-serif;
  text-transform: uppercase;
  font-size: 1.063em; }

h4 {
  font-size: 0.938em; }

a {
  color: #444;
  outline: none !important; }

header {
  overflow: hidden; }

.header-wrapper {
  position: fixed;
  top: 0px;
  width: 100%;
  border-bottom: 2px solid black;
  background-color: white;
  z-index: 777;
  height: 100px; }

.brand-logo {
  padding-left: 10em;
  display: inline-block; }
  .brand-logo img {
    padding-top: 0.2em;
    height: 60px; }

.logo-text {
  color: #6e320e;
  font-size: 19px;
  padding-left: 0.5em;
  font-weight: 500;
  margin-top: 0; }

a.brand-logo:hover {
  text-decoration: none; }

.phone-mail-wrapper {
  font-size: 1.4em !important;
  padding-right: 0.7em;
  padding-top: 10px; }

.society-wrap .fb-logo {
  float: right;
  margin-right: 0.5em;
  padding-top: 13px; }
  .society-wrap .fb-logo img {
    width: 30px;
    opacity: 0.8;
    -webkit-transition: 0.15s ease;
    -o-transition: 0.15s ease;
    transition: 0.15s ease; }
    .society-wrap .fb-logo img:hover {
      opacity: 1;
      -webkit-transition: 0.15s ease;
      -o-transition: 0.15s ease;
      transition: 0.15s ease; }

.society-wrap .insta-logo {
  float: right;
  margin-top: 5px; }
  .society-wrap .insta-logo img {
    width: 31px;
    opacity: 0.8;
    margin-right: 0.5em;
    -webkit-transition: 0.15s ease;
    -o-transition: 0.15s ease;
    transition: 0.15s ease; }
    .society-wrap .insta-logo img:hover {
      opacity: 1;
      -webkit-transition: 0.15s ease;
      -o-transition: 0.15s ease;
      transition: 0.15s ease; }
